.bbk{
    
    background-image: url(https://media.istockphoto.com/id/1400891277/vector/pastel-glow-colors-smooth-gradient-rainbow-defocused-blurred-motion-iridescent-abstract.jpg?s=612x612&w=0&k=20&c=ufS6-i8ercTKViQQ0VKeboVtYFw9Lry2OWMRD7NAWMs=);
    background-repeat: no-repeat;
    background-size: 100%;
  
  }

.mywork{
background-image: url(https://st2.depositphotos.com/2124221/45766/i/450/depositphotos_457661446-stock-illustration-abstrack-colour-background-can-use.jpg);
background-repeat: no-repeat;
background-size: 100%;
}
.khurram1122{

margin-right: 200px;
border: 2px solid black;
border-radius: 20px;
width: 700px;
background-image: url(https://media.istockphoto.com/id/821760914/vector/pastel-multi-color-gradient-vector-background-simple-form-and-blend-with-copy-space.jpg?s=612x612&w=0&k=20&c=adwrMs3MkPLXMb69AYSoMpnCfLSAb_D3PCQRGGXiM5g=);
text-align: center;
border-style: dashed;
background-repeat: no-repeat;
background-size: 100%;
}
.khurrampic{
border-radius: 20px;
border: 2px solid black;

}
.pics{


background-image: url(https://media.istockphoto.com/id/821760914/vector/pastel-multi-color-gradient-vector-background-simple-form-and-blend-with-copy-space.jpg?s=612x612&w=0&k=20&c=adwrMs3MkPLXMb69AYSoMpnCfLSAb_D3PCQRGGXiM5g=);
background-repeat: no-repeat;
background-size: 100%;

}
.lasthome{
margin-left: 100px;

}
.lastbaar{
margin-left: 600px;
}

.pic33{
  text-align: center;
  margin-top: 20px;
  
}
.gg6{

  background-image: url(https://st.depositphotos.com/1002200/1355/i/450/depositphotos_13554958-stock-photo-colourful-background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;


}
.hh33{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9gkNIEeyUS2kgqC1gVLjZPvw3nYS45McmLOwoIhRjzuj6f0hL0kjoBsPMjjb-2llbAaw&usqp=CAUhttps://wallpaperaccess.com/full/1732235.jpg);


  background-repeat: no-repeat;
  background-size: 100%;
  
  
}
.body66{

background-image: url(https://static.vecteezy.com/system/resources/previews/008/079/335/non_2x/empty-showcase-abstract-pastel-color-background-3d-illustration-free-vector.jpg)  
 ;



background-repeat: no-repeat;
  background-size: 3000px;
}
.uu11{

margin-left: 50px;


}
.youtube1{
  text-align: center;
  margin-top: 50px;
}

.you44{
  height: 300px;
  margin-left: 50px;
  width: 400px;
  margin-top: 10px;
}

